<%- include('../partials/header.ejs') %>
    <h1>All Games</h1>



    <% if (games.length === 0) { %>
      <p>No games yet.</p> <p><a href="/games/new">Add a game?</a></p>
    <% } %>

    <% games.forEach((game) => { %>
      <article>
        <h2><a href="/games/<%= game._id %>"><%= game.title %></h2></a>
        <h2><img src="<%= game.cover %>" alt="<%= game.title%>" width="300" /></h2>



      </article>
    <% }) %>


<%- include('../partials/footer.ejs') %>
