<%- include('../partials/header.ejs') %>
<h1><%= game.title %></h1>
<h1><img src="<%= game.cover %>" alt="Game Cover Image" width="150" /></h1>
<h2><%= game.releaseYear %></h2>
<h3><%= game.genre %></h3>
<form method="GET">
  <button type="submit">
    <a href="/reviews/new" id="review-button">Write a review</a>
  </button>
</form>
<a href="/games">Back to Games</a>

<%- include('../partials/footer.ejs') %>
