<%- include('../partials/header.ejs') %>


<h2><%= review.game.title %></h2>
<h2><img src="<%= review.game.cover%>" alt="<%= review.game.title%>"<%= review.game.cover%> width="300" /></h2>
<p><%= review.body %></p>

<% if (user._id === review.user._id.toString()) { %>

<form action="/reviews/<%= review._id %>/edit">
  <button>Edit</button>
</form>

<form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>

<% } %>

<%- include("../partials/footer.ejs") %>
